@media all and (max-width: 1000px) {
    .main-wrapper {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }
  @media all and (max-width: 670px) {
    .main-wrapper {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
    header{
        text-align: center;
    }
  }