* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

header{
    height: 65px;
    width: 100%;
    background-color: rgb(0, 28, 19,0.5);
    top : 0;
    position:fixed;
    
}
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container h2{
    color :rgb(3, 203, 230);
    font-size: 30px;
    margin-top: 15px;
    font-family: "Old English Text MT";
    font-style: italic;
}
.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://media.istockphoto.com/photos/close-up-calculator-on-business-working-desk-dark-background-picture-id1155347271?k=20&m=1155347271&s=170667a&w=0&h=0YiYAt1UBPFBo_MxRHXNLqVJ4PNfKeBGoyIuNES0LPw=);
    background-size: cover;
    color: white;
    text-align: center;
  }

.main-wrapper{
    max-width: 305px;
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
    background-color: rgba(2, 16, 56, 0.8);
    padding-top:50px;
}
.button{
    height: 50px;
    background-color: rgb(27, 34, 54, 0.8);
    color: white;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(0, 0, 0, 1);
    box-shadow:0 0 2px gray; 
}
.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 300px;
    position: relative;
    margin: auto;
    border: 2px;
    border-radius: 5px;
}
.calculator .button:nth-child(17){
    grid-column:1/3;
}
.text-view{
    width: 285px;
    margin: 5px;
    height: 30px;
    border-radius: 5px;
}
.clear{
    color : orangered;
}
.delete{
    color: orangered;
}
.equal{
    background-color: orangered;
}
.equal:hover{
    background-color: rgb(231, 68, 68);
}
.text-view{
    font-size: 20px;
    font-weight: bold;
}
footer{
    background-color: rgb(189, 224, 254);
    padding-top: 10px;
  padding-bottom: 10px;
}
.container h3{
    color :rgb(1, 61, 76);
    font-size : 25px;
}